@*  RISE PROJECT - 2026 - COPYRIGHT by Acanfora Giuseppe *@
@model List<RISE.Models.FAQ>
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "FAQ Management";
}

<h2>FAQ</h2>

<a class="btn btn-primary btn-sm mb-3"
   href="@Url.Action("Create", "FAQ", new { area = "Admin" })">
    Create FAQ
</a>

<table class="table table-sm align-middle">
    <thead>
        <tr>
            <th>Question</th>
            <th class="text-end"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var faq in Model)
        {
            <tr>
                <td>@faq.Question</td>
                <td class="text-end">

                    <a class="btn btn-outline-secondary btn-sm"
                       href="@Url.Action("Edit", "FAQ", new { area = "Admin", id = faq.Id })">
                        Edit
                    </a>
                    <form asp-area="Admin"
                          asp-controller="FAQ"
                          asp-action="Delete"
                          method="post"
                          class="d-inline">

                        @Html.AntiForgeryToken()

                        <input type="hidden" name="id" value="@faq.Id" />

                        <button type="submit"
                                class="btn btn-sm btn-outline-danger"
                                onclick="return confirm('Delete this FAQ?')">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>